h1
  | TRANSACCIÓN
h4
  | {{ showCtrl.transaction.hash }}
hr.title
h4
  | ALTURA BLOQUE: {{ showCtrl.transaction.block_height }}
br
br
label.label-name
  | INPUTS
.input-table(ng-show='showCtrl.transaction.inputs.length')
  .row.header
    .cell
      | Value (Satoshi)
    .cell
      | Indice Transaccion
  .row(ng-repeat='output in showCtrl.transaction.inputs')
    .cell
      | {{ output.prev_out.value }}
    .cell
      a(ui-sref='index.show({txid: "{{ output.prev_out.tx_index }}"})')
        | {{ output.prev_out.tx_index }}
br
br
label.label-name
  | OUTPUTS
.input-table(ng-show='showCtrl.transaction.out.length')
  .row.header
    .cell
      | Numero
    .cell
      | Value (Satoshi)
  .row(ng-repeat='output in showCtrl.transaction.out')
    .cell
      | {{ output.n }}
    .cell
      | {{ output.value }}
