h1
  | TRANSACCIÓN
h4
  | {{ showCtrl.transactionId }}
hr.title
h4
  | HASH BLOQUE: {{ showCtrl.transaction.blockhash }}
h4
  | CONFIRMACIONES: {{ showCtrl.transaction.confirmations }}
h4
  | FEE: {{ showCtrl.transaction.fees }}
h4
  | VALOR IN: {{ showCtrl.transaction.valueIn }}
h4
  | VALOR OUT: {{ showCtrl.transaction.valueOut }}
br
br
label.label-name
  | INPUTS
.input-table(ng-show='showCtrl.transaction.vin.length')
  .row.header
    .cell
      | Numero
    .cell
      | Value
    .cell
      | Transaccion
  .row(ng-repeat='output in showCtrl.transaction.vin')
    .cell
      | {{ output.vout }}
    .cell
      | {{ output.value }}
    .cell
      a(ui-sref='index.show({txid: "{{ showCtrl.transaction.txid }}"})' filter-color colors='$root.filters' transaction='transaction')
        | {{ output.txid }}
br
br
label.label-name
  | OUTPUTS
.input-table(ng-show='showCtrl.transaction.vout.length')
  .row.header
    .cell
      | Numero
    .cell
      | Value
    .cell
      | Transaccion gasto
  .row(ng-repeat='output in showCtrl.transaction.vout')
    .cell
      | {{ output.n }}
    .cell
      | {{ output.value }}
    .cell
      a(ui-sref='index.show({txid: "{{ showCtrl.transaction.txid }}"})' filter-color colors='$root.filters' transaction='transaction')
        | {{ output.spentTxId ? output.spentTxId : '-'}}
