h1
  | TRANSACCIÓN
h4
  | {{ showCtrl.transactionId }}
hr.title
h4
  | HASH BLOQUE: {{ showCtrl.transaction.blockhash }}
h4
  | CONFIRMACIONES: {{ showCtrl.transaction.confirmations }}
h4
  | FEE: {{ showCtrl.transaction.fees }}
