.wrapper
  .navbar
    img.ref-img.logo-navbar(src='assets/bitcoin.png' alt='BitWatch' ui-sref='index.transactions')
    .filters-box
      p.search-title
        | {{ 'FILTER.TITLE' | translate }}
      hr.filters
      div(ng-repeat='filter in filters')
        .filter-color
          p.search-option
            | {{ filter.name }}
          input(type='color' ng-model='filter.color')
    .register-btn
      img.ref-img(src='assets/user.png' alt='user image' ui-sref='index.subscribe')
      a.subscribe(ui-sref='index.subscribe')
        | {{ 'SUBSCRIBE' | translate }}
  .container
    .container-view(ui-view='content')
