.navbar
	img.logo-navbar(src='assets/bitcoin.png')
	input.search(type="search" placeholder='{{ "SEARCH" | translate }}')
	.filters-box
		p.search-title
			| {{ 'FILTER.TITLE' | translate }}
		hr
		a.search-option
			| {{ 'FILTER.OPTION1' | translate }}
		a.search-option
			| {{ 'FILTER.OPTION2' | translate }}
		a.search-option
			| {{ 'FILTER.OPTION3' | translate }}
		a.search-option
			| {{ 'FILTER.OPTION4' | translate }}
	.register-btn
		img(src='assets/user.png')
		p.subscribe
			| {{ 'SUBSCRIBE' | translate }}
.container(ui-view='content')
