doctype html
html(lang='en')
  head
    title BitWatcher
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='/assets/icon.png')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
    base(href='/')
    script(src='http://insight.bitpay.com/socket.io/socket.io.js')
  body(ng-app='app-bootstrap' ng-strict-di)
    i.fa.fa-heart(aria-hidden='true')
    div(ui-view='main')
    // inject:js
    // endinject
