$green: #8DC63F;
$wolox-blue: rgba(85, 164, 218, 0.7);
$translucent-white: rgba(255, 255, 255, 0.9);
$light-green: #0CC;
$light-red: #E65261;
$medium-red: #C6414E;
$dark-red: #B93A46;
$brown: #686963;
$light-grey: #8AA29E;
$blue: #3D5467;
$white: #FFFFE5;
$black: #000;
